<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{~/css/global.css}">
    <title>Epic Task</title>
</head>
<body>
    <h2>Cadastrar Tarefa</h2>
    <form action="/task/new" method="POST">
        <label for="title">título</label>
        <input placeholder="título" type="text" name="title" id="title">
        
        <label for="description">descrição</label>
        <textarea name="description" id="description"></textarea>
        
        <label for="score">pontos</label>
        <input type="range" name="score" id="score">
        
        <input class="button" type="submit" value="cadastrar">
    </form>
</body>
</html>